/* header css (work well with pc/laptop) */
.header {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 10px;
  text-decoration: none;
  color: #000;
}

.header-logo-img {
  width: 64px;
  height: 64px;
}

.header-logo-text {
  font-family: "Header_2";
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px 10px 10px 0px;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 999px;
  font-family: "Body";
  font-size: inherit;
  cursor: pointer;
}

.button-sign-up,
.button-post {
  color: #fff;
  background-color: var(--orange);
  /* margin-right: 15px; */
  transition: all ease 0.2s;
}

.button-sign-up:hover,
.button-post:hover {
  /* background-color: var(--orange-hover); */
  opacity: 0.8;
}

.button-log-in,
.button-posts,
.button-user {
  color: #000;
  background-color: #fff;
  border: 1px solid var(--black);
  transition: all ease 0.2s;
  /* margin-right: 10px; */
}

.button-log-in:hover,
.button-posts:hover,
.button-user:hover {
  background-color: var(--white-stroke);
}

.header-notify {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-notification {
  width: 24px;
  height: 24px;
  background-color: #e0e3eb;
  padding: 8px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.header-notification:hover {
  background-color: #fff;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

.notify-block {
  position: absolute;
  top: 50px;
  right: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e0e3eb;
  max-width: 500px;
}

.notify-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notify-news,
.notify-transaction,
.notify-action {
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: #fff;
  cursor: pointer;
  font-family: "Body";
  font-style: inherit;
  font-size: 1rem;
  width: 225px;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.1s linear;
}

.notify-news:hover,
.notify-transaction:hover,
.notify-action:hover {
  color: #000;
}

.notify-selected {
  color: #000;
}

.notify-line {
  width: 100%;
  height: 1px;
  border-radius: 999px;
  background-color: #e0e3eb;
}

.notify-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color: #000;
}

.notify-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 10px;
}

.notify-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: all 0.1s linear;
}

.notify-item:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.notify-item-img {
  width: 100px;
  height: 100px;
}

.notify-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.value-add {
  color: #10b981;
}

.value-subtract {
  color: #fd5454;
}

.notify-item-unread {
  background-color: rgba(250, 117, 22, 0.2);
  border-color: rgba(250, 117, 22, 0.6);
}

.notify-item-unread:hover {
  background-color: rgba(250, 117, 22, 0.4);
}

.notify-block {
  display: none;
}

.notify-alert {
  width: 12px;
  height: 12px;
  background-color: #fd5454;
  border-radius: 999px;
  position: absolute;
  top: 0;
  right: 0;
}

.button-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  width: 150px;
}

.button-posts-ico {
  width: 24px;
  height: 24px;
}

.button-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100px;
  position: relative;
}

.button-user-ico {
  width: 30px;
  height: 30px;
  border-radius: 999px;
}

.button-user-arrow {
  width: 24px;
  height: 24px;
  transition: all 0.1s linear;
}

.user-block {
  position: relative;
}

.user-panel {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  background-color: #f5f7fa;
  cursor: default;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 999px;
}

.user-name,
.user-id {
  margin: 6px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-id {
  margin: 0;
}

.user-link {
  text-decoration: none;
  color: var(--orange);
  margin: 6px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-point-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  width: 100%;
}

.user-point-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.user-point-value {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-point-btn {
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background-color: var(--orange);
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  font-family: "Body";
  font-style: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s linear;
}

.user-point-btn:hover {
  transform: translateY(-1px);
}

.user-extend,
.user-other {
  margin: 6px 0;
  color: rgba(0, 0, 0, 0.4);
}

.user-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  gap: 10px;
}

.user-favourite,
.user-suggest,
.user-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000;
  gap: 10px;
  padding: 4px;
  transition: all 0.1s linear;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
}

.user-setting,
.user-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  transition: all 0.1s linear;
  border-radius: 12px;
  background-color: #fff;
  width: 100%;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.user-logout {
  justify-content: center;
  color: #fff;
  background-color: #fd5454;
  margin-top: 10px;
  transition: all 0.1s linear;
}

.user-logout:hover {
  transform: translateY(-1px);
}

.user-favourite:hover,
.user-suggest:hover,
.user-transaction:hover,
.user-setting:hover {
  background-color: #e0e3eb;
}

.header-menu {
  display: none;
}

.header-notify,
.button-post,
.button-posts,
.user-block {
  display: none;
}

/* laptop */
@media (max-width: 1024.99px) {
  .user-panel {
    max-height: 500px;
  }
}

/* responsive (tablet) */
@media (max-width: 768.99px) {
  .header {
    flex-direction: row-reverse;
    padding: 0 10px;
  }

  .header-buttons {
    display: none;
  }

  .header-menu {
    display: block;
  }

  .header-menu-button {
    background-color: var(--orange);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
  }

  /* .header-menu-button:hover {
    opacity: 0.8;
  } */

  .header-menu-text {
    color: #fff;
    font-family: "Body";
    font-style: inherit;
  }

  .sidebar {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 6px;
    background-color: var(--orange);
    position: absolute;
    top: 80%;
    left: 0;
    padding: 10px 10px;
  }

  .sidebar-item {
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    text-decoration: none;
    color: #fff;
    font-family: "Body";
    font-style: inherit;
    /* background-color: var(--orange-hover); */
    border: 1px solid var(--white-stroke);
    border-radius: 6px;
  }

  .sidebar-notification {
    position: relative;
  }

  .sidebar-notify-block {
    position: relative;
  }

  .menu-notify-block {
    position: absolute;
    top: 35px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #e0e3eb;
    z-index: 2;
    display: none;
    max-width: 500px;
  }

  .sidebar-user-block {
    position: relative;
  }

  .menu-user-panel {
    position: absolute;
    top: -40px;
    left: 155px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    background-color: #f5f7fa;
    color: #000;
    cursor: default;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
  }

  .sidebar-notify-block,
  .sidebar-post,
  .sidebar-posts,
  .sidebar-user-block {
    display: none;
  }
}

/* reponsive (mobile) */
@media (max-width: 480.99px) {
  .header-logo-text {
    font-size: 1.6rem;
  }

  .menu-notify-block {
    width: 400px;
  }
}

@media (max-width: 425.99px) {
  .header-logo-text {
    font-size: 1.2rem;
  }

  .menu-notify-block {
    width: 360px;
  }

  .menu-user-panel {
    width: 200px;
  }
}

@media (max-width: 375.99px) {
  .header-logo-text {
    font-size: 1rem;
  }

  .header-button {
    width: 100px;
  }

  .header-logo {
    margin: 10px 0;
  }

  .menu-notify-block {
    width: 320px;
  }

  .menu-user-panel {
    width: 160px;
  }

  .user-point-info {
    gap: 20px;
  }
}

@media (max-width: 320.99px) {
  .menu-notify-block {
    width: 280px;
  }

  .menu-user-panel {
    width: 120px;
  }

  .user-point-info {
    gap: 4px;
  }
}
