.header-component .main-content{
    width: 1200px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}
.header-component .info img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.header-component .info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-component .info .desc p{
    display: flex;
    justify-content: center;
    align-items: center;
}