/* header css */

/* body css */
.hero {
  margin-top: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  width: 100%;
  margin-left: 50px;
}

.line {
  height: 4px;
  border-radius: 999px;
  background-color: var(--orange);
  margin: 24px 0;
  width: 80%;
}

.title-sub {
  color: var(--gray);
}

.content-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin-top: 30px;
  border-radius: 12px;
  border: 1px solid var(--black);
  padding: 10px;
  gap: 10px;
}

.search-tool {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-ico {
  /* width: 16px;
  height: 16px; */
  cursor: pointer;
}

.search-bar {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  color: #000;
  font-family: "Body";
  font-size: inherit;
  border: none;
  outline: none;
  margin-left: 8px;
}

.search-seperate {
  height: 48px;
  width: 4px;
  border-radius: 999px;
  background-color: var(--gray);
}

.other-tools {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.filter-tool {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--gray);
  border-radius: 12px;
  padding: 0 26px;
  height: 47px;
  width: 100px;
  /* margin-right: 15px; */
  transition: all ease 0.2s;
}

.filter-tool:hover {
  background-color: var(--white-stroke);
}

.filter-ico {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.filter-text {
  font-family: "Body";
  font-size: inherit;
}

.search-submit {
  font-family: "Body";
  font-size: inherit;
  height: 48px;
  color: #fff;
  border-radius: 12px;
  background-color: var(--gray);
  padding: 0 16px;
  width: 120px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all ease 0.2s;
}

.search-submit:hover {
  opacity: 0.8;
}

.hero-img {
  max-width: 40%;
  margin: 50px;
}

.newpost {
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newpost-title {
  font-family: "Header_2";
  margin-bottom: 10px;
  align-self: start;
}

.newpost-postlist {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 38px; */
}

.post {
  width: 250px;
  position: relative;
  border: 1px solid var(--white-stroke);
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: all ease 0.2s;
}

.post:hover {
  box-shadow: 0cap 0px 15px rgba(0, 0, 0, 0.2);
  /* transform: scale(1.01); */
}

.post-favour {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: all ease 0.2s;
}

.post-favour:hover {
  transform: scale(1.08);
}

.post-img {
  width: 250px;
}

.post-title {
  font-family: "Body";
  font-size: inherit;
  text-align: justify;
  margin: 0 10px;
}

.post-address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-ico {
  width: 24px;
  height: 24px;
  padding: 12px;
}

.address-info {
  font-family: "Body";
  font-size: inherit;
  text-align: justify;
  color: var(--gray);
  margin-right: 10px;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.post-price {
  color: var(--orange);
}

.post-square {
  font-family: "Body";
  font-size: inherit;
  color: var(--gray);
}

.more {
  margin: 0 20px;
  font-family: "Body";
  font-size: inherit;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 999px;
  border: 1px solid var(--black);
  cursor: pointer;
  margin: 21px 0;
  transition: all ease 0.2s;
}

.more:hover {
  background-color: var(--white-stroke);
}

.suggest {
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggest-text {
  font-family: "Body";
  font-size: inherit;
  color: #000;
  cursor: default;
  margin-right: 4px;
}

.suggest-link {
  color: var(--orange);
  font-family: "Body";
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* footer css */
.newpost {
  display: none;
}
/* responsive (tablet) */
@media (max-width: 767.99px) {
  .hero {
    flex-direction: column;
  }

  .hero-content {
    width: 90%;
    margin: 0;
  }

  .hero-img {
    max-width: 100%;
    height: 300px;
  }
}

/* responsive (mobile) */
@media (max-width: 424.99px) {
  .content-search {
    flex-direction: column;
  }

  .search-seperate {
    display: none;
  }

  .other-tools {
    width: 100%;
  }
}
